<ng-container *ngIf="table">
  <h1 class="p-3 mb-2 bg-dark text-white">
    {{table.id}} - {{table.tableName}}
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addListModal">
      Create new list
    </button>
  </h1>
<div class="container-fluid">
  <div *ngIf="cardLists" class="row flex-row flex-nowrap">
    <div class="col-3" *ngFor="let tmpList of cardLists">
      <div *ngIf="tmpList.archive === false">
<!--        TODO remove empty spaces after archived lists-->
        <h3 class="p-3 mb-2 bg-primary text-white">
          {{tmpList.id}} - {{tmpList.listName}}
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCardModal" (click)="cardList = tmpList.id">+</button>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editListModal" (click)="cardList = tmpList.id">Edit</button>
          <button type="button" class="btn btn-danger" (click)="archiveCardList(tmpList.id, table.id)">-</button>
        </h3>
        <ng-container *ngIf="cards">
          <ng-container *ngFor="let tmpCards of cards | listId: tmpList.id">
              <h6 class="p-3 mb-2 bg-light text-dark">
                {{tmpCards.id}} - {{tmpCards.title}} - {{tmpCards.description}}
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editCardModal" (click)="cardList = tmpList.id">Edit</button>
              </h6>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
</ng-container>

<!-- add List Modal -->
<div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Dodaj listę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>
          Name:
          <input type="text" [formControl]="name">
        </label>
        <p>
          Value: {{ name.value }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addCardList(table.id, name.value)" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- add Card Modal -->
<div class="modal fade" id="addCardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Dodaj kartę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>
          Name:
          <input type="text" [formControl]="name">
        </label>
        <br>
        <label>
          Opis:
          <input type="text" [formControl]="description">
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addCard(table.id, cardList, name.value, description.value)" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- edit Card Modal -->
<div class="modal fade" id="editCardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Edytuj kartę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>
          Name:
          <input type="text" [formControl]="name">
        </label>
        <br>
        <label>
          Opis:
          <input type="text" [formControl]="description">
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="editCard(table.id, cardList, name.value, description.value)" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- edit Card List Modal -->
<div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">Edytuj listę</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>
          new list name:
          <input type="text" [formControl]="newListName">
        </label>
        <br>
        <label>
          (optional) new table id:
          <input type="text" [formControl]="newTableId">
<!--          TODO changing the table id not working, low priority to repair-->
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="editCardList(table.id, cardList, newListName.value, newTableId.value)" data-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>
