<ng-container *ngFor="let tmpTable of tables">
  <h3>{{tmpTable.tableName}}</h3>
<table class="table table-dark">
  <ng-container *ngFor="let tmpList of lists">
    <ng-container *ngIf="tmpList.ttable.id == tmpTable.id">
      <thead>
      <tr>
        <th>{{ tmpList.listName }}</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let tmpCard of cards">
          <tr *ngIf="tmpCard.list.id == tmpList.id" >
            <div class="rounded border border-primary m-2 p-3">
              {{ tmpCard.title }} - {{tmpCard.description}}
            </div>
          </tr>
        </ng-container>
      </tbody>
    </ng-container>
  </ng-container>
</table>
</ng-container>



